main {
	width: 940px;
	margin: 0 auto;
	padding: 10px 10px;
	border: 2px solid #000000;
    border-style: bold;
    border-radius: 10px;
    background: #D3D3D3;
}

form {
	margin: 40px 0;
	font-weight: bold;
}

form label {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

form input  {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 20%;
}